.box{
    border:2px solid red;
    height:200px;
    width:200px;
    box-shadow: 10px 10px 5px 2px grey;
    /* transition:width 2s ease 1s ; */
    /* transition:width 2s ease-in 1s; */
    /* transition:width 2s ease-in-out 1s; */
    /* transition:width 2s ease-out 1s ; */
    /* transition:width 2s linear 1s; */
    transition:transform 3s;

}
.box:hover{
    /* width:400px; */
    /* transform: rotate(360deg); */
    /* transform: scale(3,3); */
    /* transform :skew(30deg, 30deg); */
    transform :translate(100px);
    
}

h1{
    text-shadow: 5px 5px 5px greenyellow;
}