h1{
    color:rgb(189, 61, 240)
}

.container{
    height:20vh;
    width:20vw;
    background-color: burlywood;
    position:relative;   
    left:50px;
    /* position:static; */
}

.child1{
    width:50px;
    height:50px;
    background-color: aquamarine;
    position :absolute;
    left:50px;
}

.box{
    margin:20px;
    padding:20px;
}

.box1{
    background-color: rgb(201, 20, 20);
    position:fixed;
    bottom:20px;
    right:20px;
}

.box2{
    background-color: rgb(26, 28, 165);
    position:sticky;
    top:0px;
}

.box3{
    background-color: rgba(85, 139, 202, 0.116);
}